<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.itcast.mybatis.model.IdCard">

    
    <insert id="addIdcard" parameterType="cn.itcast.mybatis.model.IdCard" >
        <selectKey keyColumn="cardId" keyProperty="cardId" resultType="String" order="BEFORE"  >
            SELECT  UUID()
        </selectKey>
        INSERT  INTO  idcard(cardId,province,city,usserid) VALUES (#{cardId},#{province},#{city},#{usserid})

    </insert>
    
</mapper>
